.list {
  display: grid;
  grid-template-columns: repeat(1, 287px);
  row-gap: 40px;
  column-gap: 16px;
  width: 100%;
  justify-content: center;

  @media (min-width:640px){
    grid-template-columns: repeat(2,288px);
    row-gap: 40px;
    column-gap: 16px;
  }

  @media (min-width:1200px){
    grid-template-columns: repeat(4,272px);
    row-gap: 40px;
    justify-content: space-between;
  }
}
